/* .inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

input {
  border-radius: 0.3125rem;
  border: 1px solid #b399a5;
  background: #f9c2da;
  height: 2rem;
  margin: 0.5rem;
  padding: 0.2rem;
  letter-spacing: 2px;
  color: #b399a5;
  font-size: 0.3rem;
}

.marginTop {
  margin-top: 1rem;
  padding: 1rem;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatars {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.avatars img {
  margin: 1rem;
  padding: 0.5rem;
  height: 7rem;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.avatars img.selected {
  border-color: #ee59bbfc;
}
