* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: #fef6d9;
}

.read-the-docs {
  color: #888;
}

body {
  min-height: 100vh;
  min-width: 320px;
  background-color: #ee59bbfc;
}

.heightCon {
  min-height: 100vh;
}

h1 {
  font-family: "Autour One";
  font-size: 1.3rem;
  font-weight: 400;
  margin: 1rem;
  margin-bottom: 1rem;
}

h1,
h2,
p,
a {
  letter-spacing: 2px;
  color: rgb(23, 22, 22);
  text-align: center;
}

h2,
p,
a {
  text-transform: uppercase;
}

.logoContainer {
  padding: 2rem;
  margin-bottom: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  margin: 2rem;
}

.pinkButton {
  background-color: #ee59bbfc;
}

.yellowButton {
  background-color: #fdc603;
}

button {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin: 1rem;
  min-width: 11rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #2d1111;
  font-weight: 600;
}

input::-webkit-input-placeholder {
  color: #b399a5;
}

input:-moz-placeholder {
  color: #b399a5;
}

input:not(:placeholder-shown) {
  color: rgb(16, 14, 14);
}
